$negro: #000000;
$blanco: #ffffff;
$rojo: #e71a1a;
$boton: #4886c0;
$boton-hover: #6ba3d8;
$fondo: $blanco;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $fondo;
}

a {
    color: $blanco;
    text-decoration: none;
}

.botonera {
    display: flex;
    justify-content: space-around;
}

.boton {
    align-items: center;
    background-color: $boton;
    border: none;
    border-radius: 10px;
    color: $blanco;
    cursor: pointer;
    display: flex;
    font-size: 15px;
    justify-content: center;
    height: 30px;
    width: 150px;
    
    &:hover {
        background-color: $boton-hover;
    }
}

.boton-nuevo {
    margin-top: 20px;
}

.contenedor {
    margin: auto;
    max-width: 1000px;
    padding: 50px 0;
    width: 90%;
}

nav {
    background-color: $negro;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    color: $blanco !important;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;

    .logotipo {
        font-weight: 700;
    }

    .enlaces {
        align-items: center;
        display: flex;

        a {
            margin-right: 30px;
            &:hover {
                color: #747373;
            }
        }
    }
}

.contenedor #login,
.contenedor .formulario-registro {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    display: block;
    margin: auto;
    margin-top: 30px;
    padding: 20px 10px;
    width: 60%;

    .campo {
        padding: 10px 5px;

        input {
            border-radius: 5px;
            border-width: 1px;
            height: 30px;
            padding: 0 5px;
            width: 100%;
        }

        select {
            background-color: $blanco;
            height: 30px;
            width: 100%;;
        }
    }

}

.contenedor .lista {
    display: inline;
    padding: 20px 10px;

    .registro {
        display: flex;
        width: 100%;
        text-align: center;

        &.cabecera {
            border: solid 1px $negro;
            font-weight: bold;
        }

        div {
            width: 20%;
        }

        &.lista-vacia div{
            text-align: center;
            width: 100%;
        }

        &:nth-child(even) {
            background-color: #c2c2c2f6;
        }

        .fas {
            cursor: pointer;
            margin: 0 5px;
        }

        &.pago div {
            width: 25%;
        }
    }
}

form .contenedor-lista {
    display: flex;

    .lista {
        width: 50%;

        .registro:nth-child(odd) {
            background-color: #c2c2c2f6;
        }
    
        .registro:nth-child(even) {
            background-color: $blanco;
        }

        .registro div {
            font-size: 13px;
            width: 25%;
        }
        
    }
}

@media (max-width: 1101px){

    .contenedor #login,
    .contenedor .formulario-registro {
        width: 100%;

    }
}

@media (max-width: 650px){

    form .contenedor-lista {
        display: flex;
        flex-wrap: wrap;
    
        .lista {
            width: 100%;
    
            .registro div {
                font-size: 13px;
                width: 25%;
            }
            
        }
    }
}

@media (max-width: 445px){
    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
        .logotipo {
            display: none;
        }
    
        .enlaces {
            flex-wrap: wrap;
            width: 100%;
            text-align: center;

            a {
                margin-right: 0px;
                width: 100%;
                &:hover {
                    color: #747373;
                }
            }
        }
    }

    .contenedor #login,
    .contenedor .formulario-registro {
        width: 100%;

    }

    .contenedor .lista {
    
        .registro {
            display: flex;
            flex-wrap: wrap;

            &.cabecera {
                display: none;
            }
    
            div {
                width: 100%;
            }
    
            &.pago div {
                width: 100%;
            }
        }
    }

    form .contenedor-lista {
        display: flex;
        flex-wrap: wrap;
    
        .lista {
            width: 100%;
    
            .registro div {
                font-size: 13px;
                width: 25%;
            }
            
        }
    }
}
