* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.botonera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.boton {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #4886c0;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  width: 150px;
}

.boton:hover {
  background-color: #6ba3d8;
}

.boton-nuevo {
  margin-top: 20px;
}

.contenedor {
  margin: auto;
  max-width: 1000px;
  padding: 50px 0;
  width: 90%;
}

nav {
  background-color: #000000;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  color: #ffffff !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 10px;
}

nav .logotipo {
  font-weight: 700;
}

nav .enlaces {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .enlaces a {
  margin-right: 30px;
}

nav .enlaces a:hover {
  color: #747373;
}

.contenedor #login,
.contenedor .formulario-registro {
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  display: block;
  margin: auto;
  margin-top: 30px;
  padding: 20px 10px;
  width: 60%;
}

.contenedor #login .campo,
.contenedor .formulario-registro .campo {
  padding: 10px 5px;
}

.contenedor #login .campo input,
.contenedor .formulario-registro .campo input {
  border-radius: 5px;
  border-width: 1px;
  height: 30px;
  padding: 0 5px;
  width: 100%;
}

.contenedor #login .campo select,
.contenedor .formulario-registro .campo select {
  background-color: #ffffff;
  height: 30px;
  width: 100%;
}

.contenedor .lista {
  display: inline;
  padding: 20px 10px;
}

.contenedor .lista .registro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-align: center;
}

.contenedor .lista .registro.cabecera {
  border: solid 1px #000000;
  font-weight: bold;
}

.contenedor .lista .registro div {
  width: 20%;
}

.contenedor .lista .registro.lista-vacia div {
  text-align: center;
  width: 100%;
}

.contenedor .lista .registro:nth-child(even) {
  background-color: #c2c2c2f6;
}

.contenedor .lista .registro .fas {
  cursor: pointer;
  margin: 0 5px;
}

.contenedor .lista .registro.pago div {
  width: 25%;
}

form .contenedor-lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form .contenedor-lista .lista {
  width: 50%;
}

form .contenedor-lista .lista .registro:nth-child(odd) {
  background-color: #c2c2c2f6;
}

form .contenedor-lista .lista .registro:nth-child(even) {
  background-color: #ffffff;
}

form .contenedor-lista .lista .registro div {
  font-size: 13px;
  width: 25%;
}

@media (max-width: 1101px) {
  .contenedor #login,
  .contenedor .formulario-registro {
    width: 100%;
  }
}

@media (max-width: 650px) {
  form .contenedor-lista {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  form .contenedor-lista .lista {
    width: 100%;
  }
  form .contenedor-lista .lista .registro div {
    font-size: 13px;
    width: 25%;
  }
}

@media (max-width: 445px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav .logotipo {
    display: none;
  }
  nav .enlaces {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    text-align: center;
  }
  nav .enlaces a {
    margin-right: 0px;
    width: 100%;
  }
  nav .enlaces a:hover {
    color: #747373;
  }
  .contenedor #login,
  .contenedor .formulario-registro {
    width: 100%;
  }
  .contenedor .lista .registro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contenedor .lista .registro.cabecera {
    display: none;
  }
  .contenedor .lista .registro div {
    width: 100%;
  }
  .contenedor .lista .registro.pago div {
    width: 100%;
  }
  form .contenedor-lista {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  form .contenedor-lista .lista {
    width: 100%;
  }
  form .contenedor-lista .lista .registro div {
    font-size: 13px;
    width: 25%;
  }
}
/*# sourceMappingURL=estilos.css.map */
